.G-container {
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
}

.G-padding-25 {
    width: 25%;
    padding: 15px;
}

.G-padding-33 {
    width: 33.3%;
    padding: 15px;
}

.G-padding-50 {
    width: 50%;
    padding: 15px;
}

.G-flex {
    display: flex;
}