.Persone{
    width: 250px;
    height: 320px;
}
.G-staff{
    width: 450px;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    p{
        width: 100%;
        height: 50px;
        font-size: 20px;
        
    }
}
.P-staffinfo{
    width: 100%;
    height: 50px;
    font-size: 30px;
    color: rgb(155, 8, 155);
}
.P-Name{width: 100%;
    height: 25px;
    font-size: 27px;
    color: rgb(77, 77, 252);
}
.staff-containe{
    width: 48%;
    min-height: 400px;
    display: flex;
}
.G-personInfo{
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
